[Application]
name=DocCleaner for Microsoft Word (Windows)
version=1.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=wordaddin.wordaddin:main

[Python]
version=2.7.8
bitness=32

[Include]
# Importable packages that your application requires, one per line
packages = ctypes
	 defusedxml
     email
     encodings
	 logging
	 lxml
	 pyreadline
	 pywin
	 unittest
	 docCleaner
	 wordaddin
	 localization

# Other files and folders that should be installed
files = LICENSE
    docx/
	lang/
